/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 */

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;

  }

  footer.page-footer {
    margin: 0;
  }


/*Biru navbar #2196F3*/
/* label color */
   .input-field label {
     color: #2196F3;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #2196F3;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #1e88e5;
   }
   .input-field input[type=number]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #1e88e5;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #green;
     box-shadow: 0 1px 0 0 #43a047;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #f44336;
     box-shadow: 0 1px 0 0 #e53935;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2196F3;
   }
   .dropdown-content li>span {
    color: #2196F3;
}

/*Table sorter*/
   th.header {
       background-image: url(../img/bg.gif);
       cursor: pointer;
       background-repeat: no-repeat;
       background-position: center left;
   }
   th.headerSortUp {
       background-image: url(../img/asc.gif);
       background-color: #e3f2fd;
   }
   th.headerSortDown {
    background-image: url(../img/desc.gif);
    background-color: #e3f2fd;
}
